header, h1{
    margin: 0;
    padding: 10px;
    color: #00539f;
    text-align: center;
    font-family: sans-serif;
}

.table{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-width: 2px;
    background-color: #C9E9FE;
    font-family: sans-serif;
}
caption{
    font-family: sans-serif;
    font-size: 30px;
}
table-titles{
    border: 1px solid black;
}
/*button{
    background-color: #00539f;
    color: white;
    font-family: sans-serif;
    border-radius: 10px;
    font-size: 14px;
    width: 120%;
    border: 1px solid black;
}
*/
.nav-menu, li, a{
    display: inline;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 15px;
}
